@import "partials/abstracts/variables";
@import "partials/layout/base";
@import "partials/components/logo";
@import "partials/components/main-menu";
@import "partials/base/base-form";
@import "partials/base/media";
@import "partials/components/main-form";
@import "partials/components/logo-image";
@import "partials/components/volume-btn";
@import "partials/components/register-form";
@import "partials/components/login-form";
@import "partials/components/message-box";
@import "partials/components/form-input";
@import "partials/components/account-form";
@import "partials/components/account-info-form";
@import "partials/components/avatar";
@import "partials/components/tab-button";
@import "partials/components/settings-btn";
@import "partials/components/hiden-file-input";
@import "partials/components/file-input-label";
@import "partials/components/overview-label";
@import "partials/components/search";
@import "partials/components/scrolled-list";
@import "partials/components/link-image";