<div style="display: flex; 
flex-direction: column;">
  <h2 style="align-self: center;" class = "overview-label">Tasks Information</h2>
  <div style="font-size: 20px; align-items: center; display: flex; flex-direction: column;">
    <div>Unconfirmed tasks: {{unconfirmedTasksCount}};</div>
    <div>Started tasks: {{startedTasksCount}};</div>
    <div>Tasks in progress: {{tasksInProgressCount}};</div>
    <div>Complited tasks: {{complitedTasksCount}};</div>
  </div><hr>
  <div style ="display: flex; flex-direction: column;" >
    <h2 style="align-self: center;" class="overview-label">Tasks Progress</h2>
    <canvas style="margin-left: 10px" id='canvas'>{{barChart}}</canvas>
  </div>
  <hr>
  <h2 style="align-self: center;" class="overview-label">Nearest Deadline</h2>
  <div style="font-size: 20px; align-items: center; display: flex; flex-direction: column;">
    <div>Task name: {{nearestDeadlineTask.Name}};</div>
    <div>Deadline: {{nearestDeadlineTask.Deadline}};</div>
  </div>

  
</div>

