.avatar
{
    margin-top: 20px;
    margin-bottom: 20px;  
    @extend %media;
    display: block;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.avatar-small
{

}


