.file-input-label
{
    width: 150px; 
    align-self: center;
    height: 30px; 
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    background-color: $elements-color;
    color: white;
    text-align: center;
    font-size: 21px;
    display: flex;
}

.file-input-label:hover
{
    background-color:darkred;
    cursor: pointer;
}