.form-input
{
	width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
textarea .form-input
{

}
