.overview-label
{
    background-color: $form-color;
    border-radius: 10px;
    color: $main-background-color;
    border-left: 15px solid $form-color;
    border-right: 15px solid $form-color;
    border-bottom: 4px solid $elements-color;
    border-top: 4px solid $elements-color;
    height: 30px;
    transition: 600ms;
}

.overview-label:hover
{
    cursor: default;
    border-bottom: 4px solid $form-color;
    border-top: 4px solid $form-color;
    color: $elements-color;
}