.search-input
{
    width: 500px;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #b3bfbf;
    border-right: 5px solid #b3bfbf;
    border-bottom: 4px solid #b3bfbf;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    height: 30px;
}
.search-icon
{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 30px;
    width: 40px;
    background-color: $main-background-color;
    
}