.settings-btn
{
    width: 150px; 
    align-self: center;
    height: 40px; 
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #C8C8C8;
}

.settings-btn:hover
{
    background-color: #C8C8C8;
}