<div style="display: flex;">
  <div class="account-info-form">
      <img class="avatar" [src]="imageToShow" alt="logo image">
      <h2 style="text-align: center">{{currentUser['Name']}}</h2>
      <h4 style="text-align: center">{{currentUser['FullName']}}</h4>
      <div style="margin-left: 40px;">Role: {{currentUser['Role']}}</div>
      <br>
      <div style="margin-left: 40px;">
        Description: <br><textarea readonly *ngIf="hasDescription" 
        class="form-input" style="height: 100px;
        width: 250px;
        font-size: 20px;
        resize: none;">
        {{currentUser['Info']}}
      </textarea>
      <span *ngIf="currentUser['Description']"><br>None<br><br></span>
      </div><br>
      <button class="settings-btn"
       (click)="this.changeTab('settings')">Edit</button>
      <br>
      <hr>
      <br> 
      <div style="margin-left: 30px">
        <img style="vertical-align: middle" src="../assets/images/location-icon.png" width="30px" height="30px" alt="">
        <span *ngIf="!currentUser['Country']" style="margin-left: 15px">None</span>
        <span *ngIf="currentUser['Country']" style="margin-left: 15px">
          {{currentUser['City']}}, {{currentUser['Country']}}</span>
      </div>
      <br>
      <div style="margin-left: 30px;">
          <img style="vertical-align: middle" src="../assets/images/mail.png" width="30px" height="30px" alt="">
          <span style="margin-left: 15px;"> {{currentUser['Mail']}} </span>
      </div>
      <br>
      <div style="margin-left: 30px;">
          <img style="vertical-align: middle" src="../assets/images/phone.png" width="30px" height="30px" alt="">
          <span *ngIf="!currentUser['PhoneNumber']" style="margin-left: 15px">None</span>
          <span *ngIf="currentUser['PhoneNumber']" style="margin-left: 15px">{{currentUser['PhoneNumber']}}</span>
      </div>
      <br>
  </div>
  
  <div class="account-form">
    <div class="tab-container">

      <button
       [ngClass]="mainTabClass"
       (click)="this.changeTab('main')">Overview
      </button>
       <button [ngClass]="performedTabClass"  
       *ngIf="this.currentUser['Role'] == 'performer'"
        (click)="this.changeTab('performed')">Performed Tasks</button>
      <button *ngIf="this.currentUser['Role'] == 'manager'" 
        [ngClass]="managedTabClass"
        (click)="this.changeTab('managed')">Managed Tasks</button>
      <button *ngIf="this.currentUser['Role'] == 'manager'"
        [ngClass]="createTabClass"
        (click)="this.changeTab('create-task')">Create Task</button>
      <button 
      [ngClass]="settingsTabClass"
      (click)="this.changeTab('settings')">Settings</button>
    </div>

    <div *ngIf="selectedTab=='performed'">
      <div style="display: flex; flex-direction: column;">
        <img style="justify-self: center; margin-top: 150px;"
          width="150px" height="150px"
         src="../assets/images/sad.png" alt="logo image">
         <br><br>
        <h2 style="text-align: center">You have not performed tasks yet...</h2>
      </div>
    </div>

    <div *ngIf="selectedTab=='settings'">
        <app-user-settings [user]="currentUser"></app-user-settings>
      </div>

  </div>
</div>
