<div class="logo-image">
    <img src="../assets/images/logo.png" alt="logo image">
  </div>
  <div class="form-container">
    <div class="main-form">
      <br>
        <h1 style="text-align: center; color: darkslategrey;">
            Task Execution Process
          </h1>
      <div class="logo-image">
    <img src="../assets/images/task.png" alt="logo image">
  </div>
    
    <br>
    <h2 style="text-align: center; color: darkslategrey;">
        Start work
      </h2><hr><br>
      <div class="volume-btn-holder">
        <a routerLink="/register" class="volume-btn">Register</a>
      </div>
    </div>
  </div>